annotated-types==0.7.0
asgiref==3.11.1
cffi==2.0.0
contextlib2==21.6.0
cryptography==46.0.6
Django==6.0.3
django-cors-headers==4.9.0
django-ninja==1.6.2
django-ninja-extra==0.31.3
django-ninja-jwt==5.4.4
injector==0.24.0
numpy==2.4.3
opencv-python==4.13.0.92
pillow==12.1.1
pycparser==3.0
pydantic==2.12.5
pydantic-settings==2.13.1
pydantic_core==2.41.5
PyJWT==2.12.1
python-dotenv==1.2.2
sqlparse==0.5.5
typing-inspection==0.4.2
typing_extensions==4.15.0
tzdata==2025.3
