@import "tailwindcss";

@theme {
  --color-gn-bg: #D1D0D0;
  --color-gn-surface: #988686;
  --color-gn-accent: #5C4E4E;
  --color-gn-text: #000000;
  --color-gn-highlight: #000000;
  --font-mono: "JetBrains Mono", monospace;
}

@layer base {
  html {
    font-size: 16px;
    background-color: var(--color-gn-bg);
    -webkit-font-smoothing: antialiased;
    cursor: url('./assets/cursor.png'), auto;
  }
  
  a, button, [role="button"], input, select, textarea, .cursor-pointer {
    cursor: url('./assets/pointer.png'), pointer;
  }
}