@import "tailwindcss";

@layer base {
  html {
    font-size: 16px; /* Letra maior conforme solicitado */
    background-color: #050505;
    -webkit-font-smoothing: antialiased;
  }
}

@layer components {
  .text-gradient {
    @apply bg-clip-text text-transparent bg-gradient-to-r from-cyan-400 to-purple-500;
  }
}